body,ul,li {
	margin:	0;
	padding: 0;
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
.topbar	{
	/*border : 1px solid black;*/
	background-color: #333;
	height: 40px;
}
.topbar a {
	color: #b0b0b0;
	font-size: 12px;
}
.topbar a:hover {
	color:white;
}
.container {
	/*border : 1px solid black;*/
	margin: 0 auto;
	width: 1226px;
}

.container::before, .container::after, .clearfix::before, .clearfix::after{
	content: "";
	display: table;
}
.container::after, .clearfix::after {
	clear:both;
}

.topbar-nav {
	float:left;
	height: 40px;
	line-height: 40px;
	font-size: 0px;
}
.topbar-nav span {
	font-size: 12px;
	color: #424242;
	font-family: sans-serif;
	margin: 0.5em;
}

.topbar-info, .topbar-cart {
	float:right;
}

.topbar-cart a {
	display: block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	width: 120px;
	background-color: #424242;
}
.topbar-cart a:hover{
	background-color: #fff;
	color: orange;
}
.topbar-cart span {
	font-size: 12px;
	margin-left: -2px;
}
.topbar-cart i{
	font-size: 20px;
	line-height: 20px;
	margin-right: 4px;
	vertical-align: -3px;
}

.topbar-info {
	margin-right: 15px;
}
.topbar-info a{
	float:left;
	padding: 0 5px;
	height: 40px;
	line-height: 40px;
}
.topbar-info span {
	float: left;
	font-size: 12px;
	color: #424242;
	/*color: #424242;*/
	font-family: sans-serif;
	line-height: 40px;
	height: 40px;
}
.topbar-info .sep {
	padding: 0 10px;
}

/* header */
.header {
	height: 100px;
	margin-bottom: 19px;
}
.header-logo {
	float: left;
	/*border: 1px solid black;*/
	width: 62px;
	height: 55px;
	margin-top: 22px;
}
.header-logo a {
	display: block;
	width:56px;
	height:56px;
	background: url(../img/logo.png);
}
.header-logo .lr {
	text-align: center;
	text-indent: -9500em;
}

/* header nav */
.header-nav {
	float: left;
	width: 820px;
	height: 100px;
	/* border: 1px solid black; */
}
.header-nav .nav-list {
	width: 820px;
	height: 88px;
	font-size: 16px;
	padding:12px 0px 0px 30px;
}
.header-nav .nav-list .nav-category {
	float:left;
	width: 127px;
	padding: 0 15px 0 0;
}
.header-nav .nav-list .nav-category a{
	display: block;
	text-align: right;
	padding:26px 0px 38px;
	color: #333;
}
.header-nav .nav-list .nav-item {
	float:left;
}
.header-nav .nav-list .nav-item a {
	display: block;
	padding: 26px 10px 38px;
	/* 
	padding: attr1, attr2, attr3, attr4;
	attr1~4 = top,right,bottom,left

	padding:attr1, attr2;
	attr1 = top,bottom
	attr2 = left,right

	padding: attr1, attr2, attr3;
	attr1~3 = top, right, bottom
	*/
	color: #333;
}
.header-nav .nav-list .nav-item a:hover {
	color: orange;
}
.header-search {
	float: right;
	width: 296px;
	height:50px;
	margin-top: 25px;
	/*border: 1px solid black;*/
}
.header-search .search-form {
	position: relative;
	display: block;
	width: 296px;
	height: 50px;
}
.header-search .search-form .search-text {
	position: absolute;
	top: 0;
	right: 52px;
	display: block;
	width: 245px;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	border: 1px solid #e0e0e0;
	outline: 0;
}
.header-search .search-form .search-btn {
	position: absolute;
	top: 0;
	right: 0;
	display: block;
	font-size: 20px;
	background: #fff;
	/*background: url(../img/sousuo.png) center no-repeat;
	background-size: 30px 30px;*/
	color: #616161;
	width: 52px;
	height: 50px;
	border: 1px solid #e0e0e0;
	outline: 0;
}
.header-search .search-form .search-btn:hover {
	background: orange;
	color: #fff;
}

/*seckill modules*/
.seckill {
	background-color: #f5f5f5;
	/* border: 1px solid black; */
}

.seckill-head {
	margin: 0 0 0 0;
	height: 170px;
	background: url(../img/seckill-head.png) no-repeat 50% 0;
	/* border: 1px solid black; */
}

.seckill-container {
	width: 1226px;
	margin: 0 auto;
	/* background-color: #f5f5f5; */
	/* border: 1px solid black; */
}

.seckill-nav {
	height: 68px;
	margin-top: -68px;
	margin-bottom: 28px;
	/* border: 1px solid black; */
}

.seckill-nav ul {
	background: #414141;
}

.active {
	background-color: #f1393a;
}
.seckill-nav li {
	float: left;
	width: 20%;
	color: #fff;
	height: 68px;
	line-height: 68px;
	vertical-align: middle;
	text-align: center;
}

.seckill-nav li em {
	font-style: normal;
	font-size: 18px;
	line-height: 1;
	vertical-align: middle;
}

.seckill-goods {
	width: 100%;
	/* border: 1px solid black; */
}

.seckill-goods ul {
	margin-right: -13px;
}
.seckill-goods li {
	float: left;
	width: 400px;
	height: 190px;
	margin-right: 13px;
	margin-bottom: 13px;
	background-color: #fff;
	/* border: 1px solid black; */
}

.seckill-goods-bg {
	float: left;
	width: 190px;
	height: 190px;
	/* border: 1px solid black; */
}

.seckill-goods-bg img {
	width: 100%;
}

.seckill-goods-details {
	float: left;
	width: 180px;
	height: 186px;
	border: 1px solid black;
}

.sgd-title {
	
}
.seckill-notice {
	color: rgba(0,0,0,0.27);
	margin: 100px auto 0;
	padding-bottom: 35px;
	font-size: 12px;
}





